.large-button {
  padding: 8px;
}

.not-so-large-button {
  padding: 4px;
}

.time-label {
  color: @accent_color;
  font-weight: 300;
	font-size: 400%;
}

widget.compact {
	font-size: 89%;
}

statcircle {
  min-width: 100px;
  min-height: 100px;
  border-width: 6px;
  border-color: @accent_color;
  border-style: inset dotted;
  border-radius: 50%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.07);
  padding: 30px;
}
