@define-color accent_color @green_4;
@define-color accent_bg_color @green_4;

.large-button {
  padding: 8px;
}

.not-so-large-button {
  padding: 4px;
}

.time-label {
  color: @accent_color;
  font-weight: 300;
	font-size: 400%;
}
